@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* globals.css */
@layer utilities {
  .glow-yellow {
    --tw-shadow-color: theme('colors.yellow.600');
    box-shadow: 0 0 20px 1px var(--tw-shadow-color);
  }
}
